<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
		<Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
		<ProductVersion>9.0.21022</ProductVersion>
		<SchemaVersion>2.0</SchemaVersion>
		<ProjectGuid>f4dcddbb-8f9e-4b70-ae9e-96ba181ea494</ProjectGuid>
		<TargetFrameworkVersion>v4.5</TargetFrameworkVersion>
		<CompactSitecoreItemsInProjectFile>True</CompactSitecoreItemsInProjectFile>
		<AssemblyName>SitecoreDev.CHOA.TDS.Master</AssemblyName>
		<Name>SitecoreDev.CHOA.TDS.Master</Name>
		<RootNamespace>SitecoreDev.CHOA.TDS.Master</RootNamespace>
		<ManageRoles>False</ManageRoles>
		
		<AssemblyStatus>Exclude</AssemblyStatus>
		<SourceWebVirtualPath>/SitecoreDev.Childrens.web.csproj</SourceWebVirtualPath>
		<SourceWebProject>{960a969a-7892-4e88-a638-09be312410b8}|Project\SitecoreDev\SitecoreDev.Childrens.web\SitecoreDev.Childrens.web.csproj</SourceWebProject>
		<SourceWebPhysicalPath>..\SitecoreDev.Childrens.web</SourceWebPhysicalPath>
		<RecursiveDeployAction>SitecoreRecycle</RecursiveDeployAction>		
		<InstallSitecoreConnector>True</InstallSitecoreConnector>
		<DisableFileDeployment>False</DisableFileDeployment>
		<SitecoreAccessGuid>07b118ad-1687-4e19-995b-2decd2390aa5</SitecoreAccessGuid>
		<EnableValidations>False</EnableValidations>
	</PropertyGroup>
	<PropertyGroup>
    
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
	  <OutputPath>.\bin\Debug\</OutputPath>
	  <DebugSymbols>true</DebugSymbols>
	  <SitecoreWebUrl>https://sc10sxasc.dev.local</SitecoreWebUrl>
	  <SitecoreDeployFolder>C:\inetpub\wwwroot\sc10sxasc.dev.local</SitecoreDeployFolder>
	  <ValidationSettingsFilePath>.\SitecoreDev.CHOA.TDS.Master_Debug.xml</ValidationSettingsFilePath>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
	  <OutputPath>.\bin\Release\</OutputPath>
	  <DebugSymbols>false</DebugSymbols>
	  <SitecoreWebUrl>https://sc10sxasc.choa.local</SitecoreWebUrl>
	  <SitecoreDeployFolder>C:\inetpub\wwwroot\sc10sxasc.dev.local</SitecoreDeployFolder>
	  <ValidationSettingsFilePath>.\SitecoreDev.CHOA.TDS.Master_Release.xml</ValidationSettingsFilePath>
  </PropertyGroup>
</Project>