<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
		<sitecore>
			<pipelines>
				<parseVariantFields>
					<processor type="SXA.Foundation.Variants.Pipelines.VariantFields.ParseImageSection, SXA.Foundation.Variants" resolve="true"/>
				</parseVariantFields>
				<renderVariantField>
					<processor type="SXA.Foundation.Variants.Pipelines.VariantFields.RenderImageSection, SXA.Foundation.Variants" resolve="true"/>
				</renderVariantField>
			</pipelines>
		</sitecore>
</configuration>
