<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="SitecoreDev.Strong4Life.web.CMS.Aliases.AliasResolver, SitecoreDev.Strong4Life.web" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
	  <settings>
		  
		  <setting name="SiteComponentsPath" value="/Components" />
		  <setting name="AliasesPath" value="/Components/Aliases" />
		  
	  </settings>
  </sitecore>
</configuration>



