@using Sitecore.Mvc

<html>
<head>
   

    
</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("header")
    </header>
    <main>
        @Html.Sitecore().Placeholder("main")
    </main>
    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>

</html>
    
