@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model SitecoreDev.Childrens.web.Areas.Childrens.Modules.ArtModel

<h3>Test Page</h3>
<div>
Heading 1: @Model.Title
    <br />
Body 1: @Model.Description
</div>