<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <commands>
		  <!--<command patch:instead="*[@name='item:setaliases']" name="item:setaliases" type="SitecoreDev.Childrens.web.Areas.Childrens.Utilities.SetSmartAliases, SitecoreDev.Childrens.web" />-->
		  <!--<command patch:after="*[@name='item:checkin']" name="item:smartunlock" type="Choa.Org.Common.Commands.SmartUnlock, Choa.Org.Common" />-->
	  </commands>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel']" type="SitecoreDev.Childrens.web.Areas.Childrens.Pipelines.AliasResolver,SitecoreDev.Childrens.web"  />
      </httpRequestBegin>
    </pipelines>
	  <settings>
		 
		  <setting name="SiteComponentsPath" value="/Components" />
		  <setting name="AliasesPath" value="/Components/Aliases" />
		  
	  </settings>
  </sitecore>
</configuration>
